/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(85, 197, 122, 0.8)
    ),
    url("/img/hero.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
.logo-img {
  height: 35px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  letter-spacing: 35px;
  font-size: 60px;
  font-weight: 400;
}
.heading-primary-sub {
  display: block;
  letter-spacing: 17.4px;
  font-size: 24px;
  font-weight: 400;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
