/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485

*/

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$color-black: #000;

// Grid width

$grid-width: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;
