/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485

*/

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-grey-dark: #777;

$color-black: #000;
