.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;

  &__logo {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }
  &__logo-img {
    height: 35px;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
