.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animated {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
  }
  &--white::after {
    background-color: $color-white;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
